$custom-primary: #393CF9;
$custom-success: #358F80;
$light-color: #f9fbff;
$description-color: #555;
$icon-color: #4E51F9;

$font-family-sans-serif: 'League Spartan', sans-serif;
$primary: $custom-primary;
$success: $custom-success;

@import "../node_modules/bootstrap/scss/bootstrap";

@function getImagePath($img) {
    @return "../assets/img/" + $img; 
}

@mixin setBanner($img) {
    background:
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)),
        url(getImagePath($img));
}

body {
    overflow-x: hidden;
}

.index-banner {
    @include setBanner("remote-learning.jfif");
    @extend %banner;
}

.contact-banner {
    @include setBanner("contact-image.jpg");
    padding: 6rem 0;
    @extend %banner;
}

%banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 80%;
    color: white;
}

.btn {
    transition: all 0.1s ease-in;
    color: white;
    &-primary {
        &:hover {
            transform: scale(1.05);
            background-color: white;
            color: $primary;
        }
    }
    &-success {
        &:hover {
            transform: scaleY(1.1);
            background-color: white;
            color: $success;
        }
    }
}

i {
    color: $icon-color;
}

.bg-lightblue {
    background: $light-color;
}

.card p, .card li, .description, .form-label {
    color: $description-color;
}

.resource-group-icon {
    margin-bottom: .75rem;
}

.resource-logo {
    width: 60px;
}