<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprende Inglés</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/logo.ico">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/f6e8ef31d6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light px-sm-3 bg-white">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../assets/img/logo.svg" alt="" height="24">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"  aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <img class="offcanvas-title" id="offcanvasNavbarLabel" src="../assets/img/logo.svg" alt="" height="24">
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1">
                            <li class="nav-item px-2">
                                <a class="nav-link" href="../index.html">Inicio</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link" href="learn.html">Aprende Inglés</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link active" aria-current="page" href="#">Sobre nosotros</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link" href="contact.html">Contáctanos</a>
                            </li>
                            <li class="nav-item ps-2">
                                <a class="nav-link" href="resources.html">Recursos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section class="container-fluid">
        <div class="row py-5 text-center">
            <h1 class="pt-3">Conoce más sobre este proyecto</h1>
            <p class="pb-3">Clases de inglés gratuitas, sin contenido exclusivo, sin trampas.</p>
        </div>
    </section>

    <section class="container">
        
        <div class="d-flex flex-column flex-lg-row-reverse px-2 px-lg-0 px-xl-5" data-aos="zoom-in-left">
            <div class="d-flex col-12 col-lg-3 align-items-center justify-content-center">
                <img class="w-50 mb-3 mb-lg-0" src="../assets/img/undraw_welcoming_re_x0qo.svg" alt="">
            </div>
            <div class="col-12 col-lg-9">
                <h3 class="text-center">¿Qué es aprende-ingles.com?</h3>
                <p class="text-center text-lg-start description">El mundo interconectado en el que vivimos hoy en día abre cada vez más puertas a trabajos internacionales remotos, acceso a universidades en otros países y oportunidades de negocios digitales. Estas oportunidades están presentes para todos, pero el requisito más frecuente, y la razón por la cual muchos nos parecen inaccesibles, es debido a la falta de conocimiento del idioma inglés. Por esta razón, aprende-ingles.com se hace presente, con el compromiso de impartir lecciones gratuitas de inglés, facilitar recursos y apoyar a la comunidad latina para tachar un requisito de la lista y prepararnos para un mundo sin fronteras.</p>
            </div>
        </div>
        
        <div class="d-flex flex-column flex-lg-row px-2 px-lg-0 px-xl-5 mt-5" data-aos="zoom-in-right">
            <div class="d-flex col-12 col-lg-3 align-items-center justify-content-center">
                <img class="w-50 mb-3 mb-lg-0" src="../assets/img/undraw_going_up_re_86kg.svg" alt="">
            </div>
            <div class="col-12 col-lg-9">
                <h3 class="text-center">¿Cuál es nuestro objetivo?</h3>
                <p class="text-center text-lg-start description">Democratizar el aprendizaje del idioma inglés. En la actualidad encontramos un amplio catálogo de cursos que dicen ser gratuitos, sin embargo a mitad de las lecciones más importantes se presentan barreras de pago o contenido exclusivo, lo cual provoca que muchas personas vean limitados sus estudios. Con nosotros no es necesario gastar dinero en nada, es más, te instamos a que no lo hagas y que centres tus esfuerzos en aprender, practicar y repasar el idioma.</p>
            </div>
        </div>

        <div class="d-flex flex-column flex-lg-row-reverse px-2 px-lg-0 px-xl-5 pb-4 my-5" data-aos="zoom-in-left">
            <div class="d-flex col-12 col-lg-3 align-items-center justify-content-center">
                <img class="w-50 mb-3 mb-lg-0" src="../assets/img/undraw_world_re_768g.svg" alt="">
            </div>
            <div class="col-12 col-lg-9">
                <h3 class="text-center">¿Por qué es necesario aprender inglés?</h3>
                <p class="text-center text-lg-start description">Porque el inglés se ha convertido en el idioma universal, incluso si no deseas aprenderlo por motivos de trabajo, te servirá para comunicarte en viajes, para socializar a través de internet, entre otros. Además, conocer el idioma te ayudará a poder leer y entender información que solo se encuentra en el idioma, ya que gran parte de los recursos educativos gratuitos mejor estructurados y más actualizados se encuentran en este idioma, simplemente el inglés abre muchas puertas.</p>
            </div>
        </div>
    
    </section>

    <footer class="container-fluid bg-dark text-white">
        <div class="row p-4 text-center">
            <nav class="navbar navbar-dark justify-content-center">
                <ul class="navbar-nav flex-column flex-md-row">
                    <li class="nav-item px-3">
                        <a class="nav-link" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="learn.html">Aprende Inglés</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link active" aria-current="page" href="#">Sobre nosotros</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="contact.html">Contáctanos</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="resources.html">Recursos</a>
                    </li>
                </ul>
            </nav>
            <h6 class="py-2 mb-0">aprende-ingles.com, tus clases gratuitas de inglés</h6>
        </div>
    </footer>
    
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>