<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niveles de Inglés - Aprende a Hablar Inglés Ahora - Y Gratis - Aprende Inglés</title>
    <meta name="description" content="Lecciones de inglés gratuitas con aprende-ingles.com, ¿en qué nivel empezarás? Elige una unidad según tu nivel de inglés.">
    <meta name="keywords" content="ingles basico, ingles gratis, ingles online, ingles intermedio, ingles avanzado, lecciones de ingles, clases ingles, niveles de ingles">
    <link rel="icon" type="image/x-icon" href="../assets/img/logos/logo.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="custom-header">
        <nav>
            <a class="custom-logo" href="../index.html">
                <img src="../assets/img/logos/logo.svg" alt="Logo de aprende-ingles.com" height="24">
            </a>
            <h6 class="custom-nav-title">Navegación</h6>
            <ul class="custom-linkset">
                <li class="custom-navItem"><a class="custom-navlink" href="../index.html">Inicio</a></li>
                <li class="custom-navItem"><a class="custom-navlink custom-active" href="learn.html">Aprende Inglés</a></li>
                <li class="custom-navItem"><a class="custom-navlink" href="about.html">Sobre Nosotros</a></li>
                <li class="custom-navItem"><a class="custom-navlink" href="contact.html">Contáctanos</a></li>
                <li class="custom-navItem"><a class="custom-navlink" href="resources.html">Recursos</a></li>
            </ul>
        </nav>
    </header>

    <section class="custom-hero">
        <h1>Las lecciones de inglés están en construcción.</h1>
        <p>Estamos preparando el mejor método de aprendizaje para ti.</p>
    </section>

    <section class="custom-container">
        <img src="../assets/img/svg/building-website.svg" alt="Dibujo de programadores construyendo una página web">
        <h3>Estamos construyendo, sentimos los inconvenientes.</h3>
    </section>

    <footer class="custom-footer">
        <nav>
            <ul class="custom-linkset">
                <li class="custom-navItem"><a class="custom-navlink" href="../index.html">Inicio</a></li>
                <li class="custom-navItem"><a class="custom-navlink custom-active" href="learn.html">Aprende Inglés</a></li>
                <li class="custom-navItem"><a class="custom-navlink" href="about.html">Sobre Nosotros</a></li>
                <li class="custom-navItem"><a class="custom-navlink" href="contact.html">Contáctanos</a></li>
                <li class="custom-navItem"><a class="custom-navlink" href="resources.html">Recursos</a></li>
            </ul>
        </nav> 
        <h6>aprende-ingles.com, tus clases gratuitas de inglés</h6>
    </footer>
    
    <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>