<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprende Inglés</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/logo.ico">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/f6e8ef31d6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light px-sm-3 bg-white">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../assets/img/logo.svg" alt="" height="24">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"  aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <img class="offcanvas-title" id="offcanvasNavbarLabel" src="../assets/img/logo.svg" alt="" height="24">
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1">
                            <li class="nav-item px-2">
                                <a class="nav-link" href="../index.html">Inicio</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link" href="learn.html">Aprende Inglés</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link" href="about.html">Sobre nosotros</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link" href="contact.html">Contáctanos</a>
                            </li>
                            <li class="nav-item ps-2">
                                <a class="nav-link active" aria-current="page" href="#">Recursos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section class="container-fluid">
        <div class="row py-5 text-center">
            <h1 class="pt-3">Potencia tu aprendizaje</h1>
            <p class="pb-3">Estudia, repasa y pon a prueba tus nuevas habilidades con los siguientes recursos gratuitos.</p>
        </div>
    </section>

    <section class="container pb-5" data-aos="fade-up">
        <div class="row text-center">
            <i class="fa-solid fa-microphone fa-2x resource-group-icon"></i>
            <h2>PODCASTS</h2>
        </div>
        <section class="row my-4">
            <div class="col-12 col-md-6 col-lg-4 text-center" data-aos="flip-left">
                <img class="shadow resource-logo mb-3" src="../assets/img/resources-icons/lukespodcast.jpg" alt="Luke's ENGLISH Podcast logo"><br>
                <a class="text-decoration-none" href="https://www.youtube.com/channel/UC2L7vR43LKuBXXV2AentEMw">
                    <h3 class="fs-5">Luke's ENGLISH Podcast</h3>
                </a>
                <p class="description">Con más de 10 años de experiencia y con premios a su espalda, este podcast te ofrece aprender inglés de una forma divertida con profesores británicos.</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4 mt-md-0 text-center" data-aos="flip-left">
                <img class="shadow resource-logo mb-3" src="../assets/img/resources-icons/mansioningles.jfif" alt="La Mansión del Ingles logo"><br>
                <a class="text-decoration-none" href="https://mansioningles.libsyn.com/">
                    <h3 class="fs-5">La Mansión del Inglés</h3>
                </a>
                <p class="description">Cada semana encontrarás lecciones sobre diferentes temas, desde la gramática más pura hasta historias y aventuras. ¡Es perfecto para prepararte para tu examen de inglés!</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0 mx-auto text-center" data-aos="flip-left">
                <img class="shadow resource-logo mb-3" src="../assets/img/resources-icons/learning_en_broadcast.webp" alt="Learning English Broadcast logo"><br>
                <a class="text-decoration-none" href="https://learningenglish.voanews.com/z/1689">
                    <h3 class="fs-5">Learning English Broadcast</h3>
                </a>
                <p class="description">Perfecto para aquellos que empiezan a aprender inglés, gracias a su vocabulario limitado, sus oraciones cortas y su ritmo de lectura más lento que las otras transmisiones en inglés de VOA.</p>
            </div>
        </section>
    </section>

    <section class="container pb-5" data-aos="fade-up">
        <div class="row text-center">
            <i class="fa-solid fa-mobile-screen-button fa-2x resource-group-icon"></i>
            <h2>APLICACIONES</h2>
        </div>
        <section class="row my-4">
            <div class="col-12 col-md-6 col-lg-4 text-center" data-aos="flip-left">
                <img class="shadow resource-logo mb-3" src="../assets/img/resources-icons/duolingo.png" alt="Duolingo logo"><br>
                <a class="text-decoration-none" href="https://es.duolingo.com/">
                    <h3 class="fs-5">Duolingo</h3>
                </a>
                <p class="description">La aplicación más famosa para aprender idiomas, su método de enseñanza ha probado ser efectivo para muchos usuarios. El contenido gratuito será suficiente para aprender los fundamentos.</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4 mt-md-0 text-center" data-aos="flip-left">
                <img class="shadow resource-logo mb-3" src="../assets/img/resources-icons/memrise.png" alt="Memrise logo"><br>
                <a class="text-decoration-none" href="https://www.memrise.com/es/">
                    <h3 class="fs-5">Memrise</h3>
                </a>
                <p class="description">Una app con muchos cursos de inglés para distintos niveles que hace uso de reglas mnemotécnicas para ayudarte en el aprendizaje. ¡También es gratuita!</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0 mx-auto text-center" data-aos="flip-left">
                <img class="shadow resource-logo mb-3" src="../assets/img/resources-icons/babbel.jfif" alt="Babbel logo"><br>
                <a class="text-decoration-none" href="https://es.babbel.com/">
                    <h3 class="fs-5">Babbel</h3>
                </a>
                <p class="description">Cuenta con cursos de inglés completos, rápidos, eficaces y divertidos. Tú decides tu agenda para aprender a hablar, escribir y comprender este idioma sin tener que acudir a clases.</p>
            </div>
        </section>
    </section>

    <section class="container pb-5 mb-5" data-aos="fade-up">
        <div class="row text-center">
            <i class="fa-solid fa-desktop fa-2x resource-group-icon"></i>
            <h2>OTROS SITIOS WEB</h2>
        </div>
        <section class="row my-4">
            <div class="col-12 col-md-6 col-lg-4 text-center" data-aos="flip-left">
                <img class="shadow resource-logo mb-3" src="../assets/img/resources-icons/lyricstraining.jpg" alt="Lyrics Training logo"><br>
                <a class="text-decoration-none" href="https://es.lyricstraining.com/">
                    <h3 class="fs-5">Lyrics Training</h3>
                </a>
                <p class="description">Una página para aprender inglés mientras escuchas música. ¡Intenta identificar las palabras que se mencionan en las canciones y rellena las letras incompletas!</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4 mt-md-0 text-center" data-aos="flip-left">
                <img class="shadow resource-logo mb-3" src="../assets/img/resources-icons/dailyPage.png" alt="Daily Page logo"><br>
                <a class="text-decoration-none" href="https://www.dailypage.co/">
                    <h3 class="fs-5">Daily Page</h3>
                </a>
                <p class="description">Practica la gramática a diario y expande tu vocabulario. Esta página te sugiere diariamente un tema diferente sobre el cual debes escribir, ¿aceptarás el reto?</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0 mx-auto text-center" data-aos="flip-left">
                <img class="shadow resource-logo mb-3" src="../assets/img/resources-icons/Forvo.jpg" alt="Forvo logo"><br>
                <a class="text-decoration-none" href="https://forvo.com/">
                    <h3 class="fs-5">Forvo</h3>
                </a>
                <p class="description">La página número uno para buscar cómo es que se pronuncia cualquier palabra en cualquier idioma. Practica con esta página, aprende nuevas palabras y sigue ampliando tu vocabulario.</p>
            </div>
        </section>
    </section>

    <footer class="container-fluid bg-dark text-white">
        <div class="row p-4 text-center">
            <nav class="navbar navbar-dark justify-content-center">
                <ul class="navbar-nav flex-column flex-md-row">
                    <li class="nav-item px-3">
                        <a class="nav-link" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="learn.html">Aprende Inglés</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="about.html">Sobre nosotros</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="contact.html">Contáctanos</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link active" aria-current="page" href="#">Recursos</a>
                    </li>
                </ul>
            </nav>
            <h6 class="py-2 mb-0">aprende-ingles.com, tus clases gratuitas de inglés</h6>
        </div>
    </footer>
    
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>